body
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
li
{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav
{
    background-color: blueviolet;
    width: 100%;
    height: 50px;
}
.container
{
    background-color: aqua;
    width: 100%;
    height: 600px;
    display: flex;

}
.footer
{
    background-color: brown;
    width: 100%;
    height: 50px;
}
.container .menuleft
{
    width: 12%;
    height: 100%;
    background-color: beige;
    
}
.container .content
{
    width: 88%;
    height: 100%;
    background-color: coral;
}
.list
{
    padding: 0px 0px 0px 0px;
}
.list li
{
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0.2px solid #000;
}
.item 
{
    padding-left: 5px;
    padding-right: 15px;
}